# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\课程资料\sdust-examination-materials-master\sdust-examination-materials-master\编译原理\CompileExperiment\Experiment1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
